<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReleaseHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReleaseHelper.Properties.Settings>
            <setting name="ProjectLocation" serializeAs="String">
                <value>C:\\Users\\constantin.moscalu\\DataGripProjects\\Amdaris Data Lake</value>
            </setting>
            <setting name="ReleasesFolderPath" serializeAs="String">
                <value>Database Release\\01 Sprint Releases</value>
            </setting>
            <setting name="RepositoryReleasesFolderPath" serializeAs="String">
                <value>$(System.DefaultWorkingDirectory)/_Amdaris Data Lake/Database Release/01 Sprint Releases</value>
            </setting>
            <setting name="LastUserStoryId" serializeAs="String">
                <value />
            </setting>
        </ReleaseHelper.Properties.Settings>
    </userSettings>
</configuration>